<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title th:text="${title}"></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><span th:text="${name}"></span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>


        </ul>

    </div>
</nav>
<div th:if="${deleteuser}" class="alert alert-success text-center" role="alert">
    <span th:text="${deleteuser}"></span>
</div>
<div class="card my-card  mr-3 ml-3">


    <div class="card-body">


        <table class="table">
            <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>

                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${users}">
                <th scope="row" th:text="${c.id}"></th>

                <td >

                        <span th:text="${c.email}"></span></a>
                </td>
                <td >

                    <span th:text="${c.gender}"></span></a>
                </td>
                <td >

                    <span th:text="${c.password}"></span></a>
                </td>
                <td>
                    <a href="#" th:href="@{'/users/'+${c.id}}"class="btn btn-danger btn-sm">Delete</a>
                    <!--   <a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger">Delete</a>-->

                    <form method="post" th:action="@{'/user/update/'+${c.id}}" class="mt-2">
                        <button  type="submit" class="btn btn-primary btn-sm">Update</button>
                    </form>
                </td>


            </tr>

            </tbody>
        </table>
    </div>
</div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>